* {
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    background-color: red;
    color: white;
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;

}
span::before {
    content: "This Is Tooltip Content";
    position: absolute;
    background-color: black;
    left: -91px;
    top: -117px;
    width: 400px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    opacity: 0;
}
span::after {
    content: "";
    position: absolute;
    border: 15px solid;
    border-color: black transparent transparent transparent;
    top: -38px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    opacity: 0;
}
span:hover::after,
span:hover::before {
    opacity: 1;

}










