* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
.center {
    display: flex;
    justify-content: center;
    background-color: black;
}
form {

    padding: 20px 30px;
    display: flex;
}
input[type="search"] {
    padding: 10px;
    margin-right: 15px;
    border: none;
    outline: none;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    overflow: hidden;
}
select {
    padding: 10px;
    color: #777;
    border: none;
    outline: none;
    border-right: 10px solid white;
    margin-right: 15px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}
input[type="submit"] {
    padding: 10px;
    border: none;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    background-color: #00bcd4;
    color: white;
}
.improve {
    position: relative;
    
}
.improve input{
    padding-left: 40px;
}
.improve::before {
    content: "$";
    position: absolute;
    width: 30px;
    height: 96%;
    background-color: rgb(179, 179, 179);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.801);
    border-radius: 2px 0 0 2px;
    -webkit-border-radius: 2px 0 0 2px;
    -moz-border-radius: 2px 0 0 2px;
    -ms-border-radius: 2px 0 0 2px;
    -o-border-radius: 2px 0 0 2px;
    left: 0;
    top: 0  ;
}
.dream {
    background-color: #00bcd4;
    text-align: center;
    padding: 30px;
    color: white;
}
.dream h2 {
    margin-bottom: 15px;
}
.dream p {
    font-style: italic;
}





